﻿body {
	background: #ECF2EB;
}

:root {
	--odo-bg: #ECF2EB;
	--odo-lgt: #92E8D8;
	--odo-mdu: #0A7D70;
	--odo-drk: #070A17;
}

/* Gotham */

@font-face {
	font-family: gotham-re;
	src: url('../_fonts/_gotham/Gotham-Book.otf');
}

@font-face {
	font-family: gotham-bo;
	src: url('../_fonts/_gotham/Gotham-Bold.otf');
}

@font-face {
	font-family: gotham-bl;
	src: url('../_fonts/_gotham/Gotham-Black.otf');
}

@font-face {
	font-family: gotham-me;
	src: url('../_fonts/_gotham/Gotham-Medium.otf');
}

@font-face {
	font-family: gotham-th;
	src: url('../_fonts/_gotham/Gotham-Thin.otf');
}

@font-face {
	font-family: gotham-ut;
	src: url('../_fonts/_gotham/Gotham-Ultra.otf');
}

.flex-sup {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

a, button {transition: .2s ease-in-out;}

/*<%-- Header --%>*/

.cabecalho {
	background: var(--odo-lgt); height: 89px; z-index: 3;
}


.hdr-col-logo {position: relative; height: 89px;}

	.hdr-col-logo img {
		background: #fff; padding: 8px; border-radius: 100%; position: absolute;
		top: 21px;
	}

	.hdr-line {align-items: center;  position: relative;}

		#hdr-vector {
			position: absolute; width: 100%; top: 0; left: 0; z-index: 1;
		}
			#hdr-vector img {width: 100%; z-index: 1; fill: #fff;}
				#hdr-vector img svg {fill: #fff;}

		.hdr-line {z-index: 2;}

		.hdr-col-nav {justify-content: flex-end; flex-direction: row; align-items: center; height: 89px;}

			.hdr-col-nav nav {justify-content: flex-end; align-items: center; margin-right: 13px;}

			.hdr-col-nav nav a {color: var(--odo-drk); margin-right: 13px;}
			.hdr-col-nav nav a:hover {text-decoration: underline;}

		.hdr-cta {
			height: 34px; align-items: center; padding: 0 21px;  background: var(--odo-mdu);
			color: #fff; border-radius: 55px; cursor: pointer;
		}
			.hdr-cta:hover {background: var(--odo-drk); color: #fff;}

/*<%-- Hero --% >*/

.site_sacao {width: 100%; min-height: 89vh;}
	.site_sacao .container {flex-direction: column; justify-content: center; height: 89vh;}

	/* #secao_hero, #secao_hero * {z-index: 2;} */

	#secao_hero {position: relative; z-index: 1!important; margin-top: 55px;}
		#secao_hero .container, #secao_hero .container * {z-index: 2;}

	#secao_hero .container h1 {font:  6em gotham-ut;}
	#secao_hero .container h2 {font:  1.4em gotham-me; margin: 21px 0; width: 55%;}
	#secao_hero .container p {font:  .9em gotham-re; line-height: 140%; max-width: 395px;}

		.heroCtaLine {margin-top: 21px; align-items: center;}

			.hero_cta {
				height: 34px; padding: 0 34px; border-radius: 55px; align-items: center; border: 2px solid var(--odo-mdu);
				background: var(--odo-mdu);margin-right: 13px;
			}
				.hero_cta small {font: .9em gotham-me; color: #fff;}
				.hroCta_secundario {background: #fff;}
					.hroCta_secundario small {color: var(--odo-drk);}

					.hero_cta:hover {background: var(--odo-drk); border-color: var(--odo-drk);}
					.hero_cta:hover small {color: #fff;}

		#hero_img {
			position: absolute; bottom: 0; right: 0; width: calc(55% + 8%); z-index: 1;
		}
			#hero_img img {width: 100%;}

			#hero_img::before {
				width: 89px; height: 100%; background: linear-gradient(to right, #ECF2EB, #ecf2eb00); position: absolute; top: 0; left: 0;
				content: 'o'; font-size: 0;
			}

/*<%-- Attract mode --% >*/

#secao_especialis .container {align-items: center;}

	.section-hgroup {
		flex-direction: column; width: 100%; align-items: center; justify-content: space-between; margin-top: 89px;
		padding: 0 calc(21% + 5%);
	}
		.section-hgroup h2 {font: 3em gotham-ut; color: var(--odo-drk); width: 100%; text-align: left;}
		.section-hgroup h3 {font: 2em gotham-bo; color: var(--odo-drk); width: 100%; text-align: right;}

		.lista-special {
			width: max-content; margin-top: 55px; height: 500px;
		}

			.lista-special li {
				width: 100px; height: 100%; flex-direction: column; align-items: center; background: #fff;
				border-radius: 144px 144px 0 0; position: relative;  margin-right: 10px;
			}
				.splCrd-img {
					width: 100%; height: 220px; border-radius: 144px 144px 0 0; background-size: cover!important; background-position: center!important;
					background-repeat: no-repeat!important; font-size: 0; position: relative; transition: .2s ease-in-out;
					filter: grayscale(1);
				}
					.splCrd-img::before {
						content: 'o'; font-size: 0; width: 100%; height: 100%; border-radius: 144px 144px 0 0; position: absolute; top: 0;
						left: 0; background: #070a17a9; transition: .2s ease-in-out;
					}

				.spl-icon {
					width: 100px; height: 100px; justify-content: center; align-items: center; border-radius: 100%; background: #fff;
					box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08); position: absolute; z-index: 2; top: 180px; transition: .2s ease-in-out;
				}

				.splCrd-svg {width: 100%; position: absolute; bottom: 0;}

					.spcBoxHint {
						position: absolute; bottom: -21px; width: 233px; background: #fff; border-radius: 13px; padding: 21px;
						box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.13); flex-direction: column; align-items: center; display: none;
						animation: drop .2s ease-in forwards;
					}
						.spcBoxHint strong {font: 1.15em gotham-me; text-align: center;}
						.spcBoxHint small {font: .9em gotham-re; margin-top: 5px; text-align: center;}

						.spcBoxHint::before {
							content: 'o'; font-size: 0; width: 21px; height: 21px; background: #fff; border-radius: 5px; position: absolute;
							top: -8px; box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.08); transform: rotate(45deg);
						}

			.lista-special li:hover .spcBoxHint {
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
			}

			.lista-special li:hover .splCrd-img {filter: grayscale(0)!important;}
				.lista-special li:hover .splCrd-img::before {background: #070a172c; filter: grayscale(0)!important;}

			.lista-special li:hover .spl-icon {transform: translateY(-13px);}

			.lista-special li:hover {z-index: 5; cursor: pointer;}

		@keyframes drop {
			from {opacity: 0; transform: translateY(-21px);}
			to {opacity: 1; transform: translateY(0);}
		}

/*<%-- Form principal --% >*/

#secao_form .container {height: 100%; align-items: center;}

		#secao_form .container h2 {font: 2.5em gotham-bo; margin-top: 55px; margin-bottom: 34px;}

		#secao_form .container .row {margin-top: 89px; height: 100%;}

		.col-form-text {position: relative; min-height: 400px;}

			.col-form-text h3 {font: 1.5em gotham-bo; z-index: 5;}
			.col-form-text p {font: .9em gotham-re; line-height: 140%; margin-top: 21px;  width: 89%; z-index: 5;}

			.form-img {
				position: absolute; bottom: -89px; right: 0; z-index: 1!important;
			}

		.form-col {justify-content: flex-end;}

		.form-card {
			width: calc(55% + 13%); min-height: 400px; background: #fff; box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.13); border-radius: 21px;
			padding: 34px; overflow: hidden; position: relative;
		}
			.zapIcon {position: absolute;  right: -21px; bottom: -21px;}

			.ipt-box {
				width: 100%; flex-direction: column; margin-bottom: 13px;
			}
				.ipt-box label {font: .9em gotham-me;}

				.dft-ipt {
					width: 100%; height: 34px; border: 1px solid var(--odo-drk); border-radius: 8px; outline: none;
					font: .9em gotham-re; margin-top: 8px; padding: 0 8px; cursor: pointer; transition: .3s ease-in-out;
				}
					.dft-ipt:hover {border-color: var(--odo-mdu);}
					.dft-ipt:focus {border-color: var(--odo-lgt); cursor: text;}

		.acppt-check {margin: 21px 0; align-items: center;}
				.acppt-check, .acppt-check * {transition: .2s ease-in-out;}
				.acppt-check:hover {cursor: pointer;}
				.acppt-check:hover * {color: var(--odo-mdu);}

				.acppt-check small {font: .9em gotham-re;}

				.dft-checkBox {
					width: 21px; height: 21px; border: 2px solid var(--odo-mdu); border-radius: 5px; outline: none; margin-right: 13px;
				}
					.form-cta {width: max-content;}

@media screen and (min-width: 1920px) {
	.form-card {width: calc(55% + 13%);}
}

/*<%-- Features --% >*/

.mini-section {
	min-height: 34vh; width: 100%; align-items: center;
}
	#odo-features .container {justify-content: center;}

		.odoFeaturesList {align-items: flex-start; width: 100%;}

			.odoFeaturesList li {flex-direction: column; width: 20%; align-items: center;}

			.ftrImgWpp {width: 70px; height: 94px; position: relative;}
				.ftrImgWpp img {width: 100%; position: absolute; top: 0;}

			.odoFeaturesList li strong {width: 100%; text-align: center; margin-top: 34px; font: 1.2em gotham-re; line-height: 130%;}

/*<%-- Localidade --% >*/

.siteMapaIframe, .agendaCol {flex-direction: column;}

	/* < */

	.siteMapaIframe h2 {font: 3em gotham-bo;}
	.siteMapaIframe strong {font: 1.5em gotham-me; margin: 13px 0;}
	.siteMapaIframe p {font: .9em gotham-re; line-height: 140%;}

	.siteMapaIframe iframe {margin-top: 21px; width: 89%;}

	/* > */
	.agenda-card {
		width: 100%; flex-direction: column; background: #fff; padding: 34px; border-radius: 21px; box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.13);
		align-items: center;
	}

		.agenda-card h3 {font: 1.4em gotham-bo; margin: 21px 0;}

		.agenda-card ul {flex-direction: column; width: 100%; margin-top: 13px;}
			.agenda-card ul li {align-items: center; height: 55px; position: relative; padding: 0 13px;}

				.agenda-card ul li a {position: absolute; right: 13px; font: .9em gotham-bo; color: var(--odo-mdu);}
					.agenda-card ul li a:hover {color: var(--odo-drk); text-decoration: underline;}

				.agenda-card ul li:nth-child(even) {background: #F4F4F5;}

			.icon-circle {width: 21px; height: 21px; background: #DAD9DC; border-radius: 100%; font-size: 0; margin-right: 13px;}

				.agenda-card ul li strong {font: 1em gotham-me; margin-right: 13px;}
				.agenda-card ul li p {font: .8em gotham-re;}
				.agenda-card ul li p b {font-family:  gotham-bo;}

/*<%-- Profissionais --% >*/

#secao_prof {
	min-height: 34vh!important; background: var(--odo-drk);
}

	#secao_prof .container {height: max-content; min-height: 55vh; padding: 89px 0;}

	.prof-explain h2 {font: 5em gotham-bo; color: #fff;}
	.prof-explain p {font: 1em gotham-re; color: #fff; line-height: 160%; margin-top: 21px; width: 89%;}
	.prof-explain a {width: max-content; margin-top: 55px;}

		.prof-explain a small {font-family: gotham-me!important;}

		.prof-explain a:hover {background: #fff; border-color: #fff;}
		.prof-explain a:hover * {color: var(--odo-drk);}

.profi-col {justify-content: flex-end;}
	.profi-card {width: 55%; padding-top: 55px; padding-bottom: 55px}

	.bgcenter	{
		background-size: cover!important; background-position: center!important; background-repeat: no-repeat!important;
		font-size: 0;
	}
		.profi-thumb {width: 144px; height: 144px; border-radius: 100%; margin: 13px 0;}

		.profi-card strong {font: 1.4em gotham-bo; margin: 21px 0;}
		.profi-card p {font: .9em gotham-re; line-height: 140%; text-align: center;}

/*<%-- Prova social --% >*/


/*<%-- Formulário secundário --% >*/

/*<%-- Footer --% >*/